.container {
  display: block;
  justify-content: space-between;
  max-width: var(--size-max-width);
  align-items: center;
  margin: 0 auto;
  padding: var(--space-2xl) var(--size-gutter);
  
}

.outerContainer {
  position: relative;
  background: url(https://images.ctfassets.net/cdypw9nxi8dj/50cWH3Pk42Lp6K4GnLHKe/94e432d36f35029608fc328476ac4ba0/bwb-home-banner.jpg);
  min-height: 1000px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  z-index: 10;
}

.hero {
  align-items: flex-end;
  display: flex;
  margin: 0 auto;
  max-width: var(--size-max-width);
  min-height: 200px;
  padding: 0 0 var(--size-gutter);
  position: relative;
}

.herolink {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--text-2xl);
  line-height: var(--default);
}

.heroCustomMinerva {
  font-family: "minerva-modern", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--text-2xl);
  line-height: var(--default);
  color: #fff;
}

.heroCustomMinervaBold {
  font-family: "minerva-modern", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--text-6xl);
  line-height: var(--default);
  color: #fff;
}

.heroCustomDolly {
  font-family: "minerva-modern", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: var(--text-3xl);
  line-height: var(--default);
}

.image {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 560px;
  width: 100%;
}

.backgroundImage {
  height: 100%;
  width: 100%;
  z-index: -1;
}

.details {
  background: var(--background);
  left: 0;
  max-width: 40rem;
  width: 85%;
  padding: var(--space-2xl) var(--size-gutter) 0;
  position: absolute;
}

.title {
  letter-spacing: -0.012em;
  font-size: var(--text-title);
  font-weight: var(--extrabold);
  line-height: var(--solid);
  margin: 0 0 var(--space-xl);
}

.content {
  font-size: var(--text-lead);
  font-weight: var(--semibold);
  margin: 0;
}

.btnPrimary {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--text-xl);
  line-height: var(--default);
  color: #fff;
  background: #c27c5a;
  padding: 10px 20px;
  margin-top: 20px;
  display: inline-block;
}
.btnPrimary:hover {
  background: #423f40;
  color: #fff !important;
}

@media (min-width: 480px) {
  .details {
    padding-top: var(--space-3xl);
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: var(--size-gutter);
  }

  .details {
    max-width: 44rem;
    padding: var(--space-3xl) var(--size-gutter) 0;
  }
}

@media (min-width: 1024px) {
  .image {
    margin-left: auto;
    width: 85%;
  }

  .details {
    left: var(--size-gutter);
    padding: var(--space-3xl) var(--size-gutter) 0 0;
  }
}
